body {
	margin: 0 auto; 
	width: 1300px;
	background-color:white;
	background-repeat: repeat-x; 
}
#permbajtja {
	height: 1620px;
	width: 1300px;
    margin: 0 auto;
    background-color:white;
	background-repeat: no-repeat; 
}

.header {
    background-color:#272622;
	height: 107px;
	width: 1300px;
  }
 
.sticky {
	position: fixed;
	top: 0;
	width: 1300px;
	height:107px;
	
  }
 
.header img{
    float:left;
    margin-top:0;
	margin-left:60px;
   
}
	.header a:active{
		background-color: grey;
	}

#header-menu {
	float: right;
	width: auto;
	/* margin: 3.7% 10% 0px 0px; */
}

.header ul li a {
	color: white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	text-decoration: none; 
	text-align: center;
}


#content1 {
    background-image: url(img/websiteSkills.jpg);
    width:auto;
	height: 557px;
}

#WeBuild {
	height: auto;
	width: auto;
	font-size: 42px;
	font-family: MgOpenModerna; 
	color:white;
    font-weight: bold;
    float: right;

    margin:50px 110px 0px 0px;
	/* padding-bottom: 22px; */
}
#well {
	width: auto;
	font-size: 30px;
	color: white;
	font-family: MgOpenModerna;
	font-weight: bold;
	margin-top: 1.5%;
}

#content2{
    background-color:rgb(249, 255, 230);
    width:100%;
    height:520px; 
}
* {
    box-sizing: border-box;
  }
#content2 h2{
    text-align: center;
    margin:0px;
    padding-top: 30px;;
}

#content2 img{
    text-align: center;
    display: block;
    margin:20px auto 30px auto; 
}
#content2 #websites{
    margin-top:0;
   display:flex;
  width: 1300px;
  margin-left:30px;
  height:380px;
       
}
#slider{
	float: left;
	margin-left: 696px;
	margin-top: 50px;
	width: 537px;
	height: 300px;
	background-color: red;
}
#websites .WebsiteMaintenance{
    margin-left:35px;
    margin-right:100px;
        text-align: center;
        border:1px solid black;
        width:25%;
}
#websites .WebsiteDesign{
    margin-right:100px;
    text-align: center;
    border:1px solid black;
    width:25%;
}
#websites .DigitalMarketing{
    margin-right:20px;
    text-align: center;
    border:1px solid black;
    width:25%;
}
 .find {
  display: inline-block;
  border-radius: 6px;
  color: #FFFFFF;
  /* text-align: center; */
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}
.find1{
	background-color: white; 
  border: 4px solid rgb(27, 94, 29);
}
.find2{
	background-color: white; 
  border: 4px solid rgb(194, 61, 13);
}
.find3{
	background-color: white; 
  border: 4px solid rgb(3, 35, 121);
}
.find p{
	color:black;
}

.find1 p:hover {
	color:rgb(17, 199, 17);
  }

  .find2 p:hover {
	color:red;
  }

  .find3 p:hover {
	color:blue;
  }
  .find1, .find2, .find3 p{
	  font-size:14px;
	  font-weight: bold;
  }

  #content3{
	  float:left;
	  background-color:white;
	  width:100%;
	  height:28%; 
  }
  #content3 p{
	  text-align: center;
	  margin-top:30px;
	  font-size: 20px;
  }
  #content3 #ic{
	  text-align: center;
  }
  #content3 .konnectmedia legend{
	  float:left;
	  width: 575px;
	  font-size:20px;
	  margin: 0 0 15 0;
  }
  .konnectmedia{
	  float: left;
	  margin-left: 0%;
	  width: 50%;
	  margin-left:25px;
	  text-justify: auto;
  }
  #content3 .foto{
	  float:right;
	  margin:35px 66px 0px 0px;
  }

 #footer{
	 float:left;
	 background-color: #272622;
	  width: 1300px;
	  height:130px;
 }
#credentials {
	float: left;
	height: 20px;
	width: 500px;
	margin-top: 30px;
}
#copyright {
	width: 100%;
    float: left;
    margin: 18px 0 0 30px;
	color: white;
	font-size: 17px;
	font-weight: normal;
	text-decoration: none;
}
#footer-info img{
	float:right;
	margin-right:90px;
	width:300px;
	margin-top:10px;
}
#footer-info .reachus{
	display: block;
    font-size: 14px;
	color: white;
	text-align: right;
	margin-right:60px;
	margin-top:70px;
}
@media screen and (max-width: 200px){
	#clear, .reachus {
		float: none!important;
		text-align: center!important;
	}
	}
#footer-info p{
    font-family: 'Raleway', sans-serif;
	line-height: 1.9em;
	font-weight: 300;
	display: block;
		
}
/*####################About us#############################*/

#aboutus{
	margin-top: 40px;
	margin-left:30px;
}
#aboutus p{
	font-size: 25px;
}
.check i{
	font-size: 20px;
	font-weight: 16px;
}
.check{
  margin-bottom: 10px;
}

#projects{
	text-align: center;
	margin-top: 100px;
	margin-right: 30px;
	float:right;
}
.images{
	margin-top:100px;
	display: inline-table;
    margin-bottom: 100px;
}
#more{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 170px;
	float: left;
	margin-bottom: 40px;
}
#more p{
	font-size: 20px;
}
legend{
	font-size: 25px;
}
#webmaintenance p{
	font-size: 18px;
}
/*####################Contact Us#############################*/

.header {
    background-color:#272622;
	height: 107px;
	width: 1300px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 1300px;
	height:107px;
	
  }
 
.header img{
	float:left;
	height:107px;
    margin-top:0;
	margin-left:60px;
   
}
.header a:active{
	background-color: rgb(110, 107, 107);
}

#header-menu {
	float: right;
	width: auto;
	margin: 3.7% 0% 0px 0px;
    
}
.header ul li {
	margin-right: 20px;
	display: inline;
}

i{
	margin-right: 4px;
	color:white;
}

#content1 {
	background-image: url(img/websiteSkills.jpg);
	width:auto;
	height: 557px;
}
#c_us{
	width: auto;
}
#map{
	width:100%;
	height:550px;
}
#Kontakti {
	padding: 50px 125px;
	font-size: 13px;
	font-style: Verdana, Tahoma, sans-serif;
}
.form label {
	margin-left: 10px;
	color: #999999;
}
.submit input {
	width: 100px;
	height: 40px;
	background-color: #090;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#Kontakti h1 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#KontaktFundi {
	float: left;
	height: 171px;
	width: 100%;
	background-image: url(img/KontaktFundi.png);
}
.butoni1 {
	float: left;
	margin: 30px 0 30px 584px;
	width: 26px;
	height: 26px;
	border-radius: 50px;
	border: hidden;
	background-image: url(aboutButoni.png);
}
.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #939393;
	float: right;
	width: 658px;
	height: 700px;
}
.main h1 {
	color: black;
}
.form-contact {
	width: 430px;
	float: left;
}
 .holder h4{
	margin: 5px 0;
}
.green {
	color: #32A700;
}
.clear {
	clear: both;
}
label {
	float: left;
	line-height: 1.25em;
	margin: 0 8px 0 0;
	padding: 6px 0;
	text-align: left;
	width: 80px;
}
.formButoni {
	border: hidden;
	border-radius: 13px;
	background: url(img/send-btn.png) no-repeat left top;
	width: 112px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	color: #FFF;
	text-shadow: 0 1px 2px #000000;
	text-transform: uppercase;
	padding: 0;
	margin-top:20px;
	margin-right:20px;
}
#leftRegister {
	float: left;
	height: 1100px;
	width: 450px;
}
#leftRegister h1, h3, h4 {
	color: black;
}
.radioB {
	color: #000;
	padding: 0px;
	border: none;
	width: 10px;
	color: #999999;
}

fieldset {
	border: hidden;
}
#email_validation, #name_validation, #emailL_validation, #name_validation, #gender_validation, #pwd1_validation, #pwd2_validation {
	display: none;
}
label.required:after {
	content: '*';
	color: red;
}
span.error {
	background-color: #FFDFDF;
	color: red;
}
.row {
	margin: 5px;
}
#leftRegister h3, h4 {
	margin: 0;
}

#footer{
	float:left;
	background-color: #272622;
	 width: 1300px;
	 height:130px;
}
#credentials {
   float: left;
   height: 20px;
   width: 500px;
   margin-top: 30px;
}
#copyright {
   width: 100%;
   float: left;
   margin: 18px 0 0 30px;
   color: white;
   font-size: 17px;
   font-weight: normal;
   text-decoration: none;
}
#footer-info img{
   float:right;
   margin-right:90px;
   width:300px;
   margin-top:10px;
}
#footer-info .reachus{
   display: block;
   font-size: 14px;
   color: white;
   text-align: right;
   margin-right:60px;
   margin-top:70px;
}
@media screen and (max-width: 200px){
   #clear, .reachus {
	   float: none!important;
	   text-align: center!important;
   }
   }
#footer-info p{
   font-family: 'Raleway', sans-serif;
   line-height: 1.9em;
   font-weight: 300;
   display: block;
	   
}
 

/*End of contact us*/ 

/*****************Login Form  *******************/

#login{
    width: 603px;
    padding: 20px;
    border: 2px solid black;
    margin-left: 300px;
}
 #login img{
	 float:left;
	 margin-right: 30px;
	 text-align: center;
} 
#login h1{
	margin-left: 200px;
}
 .loginButtoni{
	border: hidden;
	border-radius: 13px;
	background: url(img/send-btn.png) no-repeat left top;
	width: 112px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	color: #FFF;
	text-shadow: 0 1px 2px #000000;
	text-transform: uppercase;
	padding: 0;
	margin-top: 5px;
	margin-left:250px;
}
.formButoni{
	display: inline-table;
}

fieldset {
	border: hidden;
}
#email_validation, #pwd_validation{
	display: none;
}

span.error {
	background-color: #FFDFDF;
	color: red;
}


 #notRegistered{
	 float:center;
	 margin-left:299px;
	 width: 600px;
 }
 #notRegistered h1{
	 margin-left:136px;
	 width:412px;
 }
 #notRegistered .loginButtoni{
	 margin-left: 286px;
 }

 #SignupForm{
	 margin-top:100px;
     margin-left: 400px;
 }

 #SignupForm h1{
	margin-bottom:50px;
 }
 #servicesContent {
	float: left;
	width: 100%;
	height: 1000px;
	background-color: #ffffff;
}
.clear1{
	width: 100%;
	height: 10px;
	clear : both;
}
input, textarea {
	padding: 10px;
	border: 1px solid brown;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}
input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
}
.form label {
	margin-left: 10px;
	color: #999999;
}
.submit input {
	width: 100px;
	height: 40px;
	background-color: #090;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.green {
	color: #32A700;
}
.clear {
	clear: both;
}
label {
	float: left;
	line-height: 1.25em;
	margin: 0 8px 0 0;
	padding: 6px 0;
	text-align: left;
	width: 80px;
}
fieldset {
	border: hidden;
}
#email_validation, #name_validation, #emailL_validation, #name_validation, #gender_validation, #pwd1_validation, #pwd2_validation {
	display: none;
}
label.required:after {
	content: '*';
	color: red;
}
span.error {
	background-color: #FFDFDF;
	color: red;
}
hr{
	margin-top: 20px;
	margin-bottom: 30px;
}

/*******************Admin Page gif**************/

#welcomeAdmin{
	width: 1100px;
    height: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(179, 204, 204);
    border-radius: 10px;
    
}

#welcomeAdmin h2, p{
	margin-top: 20px;
	margin-left:30px;
}

#adminPermbajtja{
	background-color: rgb(242, 230, 255);
}

 /*************** Services ************/
.ser{
	float: left; 
	margin-left: 140px;
	width: 420px;
	display:inline-table;
}

